<!-- Pagination -->
  <ul class="pagination justify-content-center mb-4">
    <li ng-class="paginationCntrl.olderPosts.class">
      <button class="page-link" ng-click="paginationCntrl.backOnePage()">&larr; Older</button>
    </li>
    <li ng-class="paginationCntrl.newerPosts.class">
      <button class="page-link" ng-click="paginationCntrl.forwardOnePage()">Newer &rarr;</button>
    </li>
  </ul>

{##}
{#<!-- Thread View -->#}
{#<!-- Pagination -->#}
{#                <ul class="pagination justify-content-center mb-4">#}
{#                    <li class="page-item">#}
{#                        <a class="page-link" href="#">&larr; Older</a>#}
{#                    </li>#}
{#                    <li class="page-item disabled">#}
{#                        <a class="page-link" href="#">Newer &rarr;</a>#}
{#                    </li>#}
{#                </ul>#}