<!-- Thread View -->
<div>
    <div ng-repeat="post in threadCntrl.posts">
        <div class="card mb-4">
            <div class="card-body">
                <p class="text-muted">
                    <$post.date_modified | date: "yyyy-MM-dd"$>
                </p>
                <h2 class="card-title" style="margin-top: -15px;"><$post.title$></h2>
                <p class="card-text text-muted"><$post.abstract$></p>
                <span style="cursor: pointer;" ng-click="threadCntrl.goToPost(post);">Read More...</span>
            </div>
{#            <div class="card-footer text-muted">#}
{#                Posted on#}
{#                <$post.date_modified | date: "mediumDate"$>#}
{#                at#}
{#                <$post.date_modified | date: "h:mma"$>#}
{#            </div>#}
        </div>
    </div>
</div>